<p id="notice"><%= notice %></p>

<h1>Turkeys</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Name</th>
      <th>Heritage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turkeys.each do |turkey| %>
      <tr>
        <td><%= turkey.color %></td>
        <td><%= turkey.name %></td>
        <td><%= turkey.heritage %></td>
        <td><%= link_to 'Show', turkey %></td>
        <td><%= link_to 'Edit', edit_turkey_path(turkey) %></td>
        <td><%= link_to 'Destroy', turkey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turkey', new_turkey_path %>


<h1> Our Cool Stuff</h1>
<%= image_tag("turkey-ready-to-eat.gif", size: "160") %>
<br>
<%= color_field(:user, :favorite_color) %>
<br>
<%= time_ago_in_words(Date.parse("August 30, 2017")) %>
<br>

<br>
<%= form_for @turkeys[0] do |f| %>
<div>
  <%= f.label :name %>
    <%= f.text_field :name, placeholder: "First Name" %>
</div>
<% end %>
<%= select(:person, :city_id, [['Lisbon', 1], ['Madrid', 2], ['Barcelona', 3]]) %>
<br>
<%= date_select "turkey", "birthday", end_year: 2017, start_year: 1900 %>
<br>
<%= "octopus".pluralize %>
<br>
<%= image_url('turkey-ready-to-eat.gif') %>
<br>
<%= stylesheet_link_tag    'application.css' %>
<br>
<%= truncate("Once upon a time in a world far far away") { link_to "Continue", "#" } %>
<br>
<%= truncate("And they found that many people were sleeping better.", length: 25, omission: '... (continued)') %>
<br>
<%= audio_tag ("https://freesound.org/people/Erokia/sounds/402640")%>
<br>
<%= collection_check_boxes(:turkey, :id, Turkey.all, :id, :name) %>
<br>
<%# video_tag("trailer.m4v", size: "16X10", poster: "turkey-ready-to-eat.gif") %>
<%= check_box("puppy", "gooddog", {:class => "background: green"}, checked_value = "yes", unchecked_value = "no")%>
